@import "tailwindcss";

/* Espaçamento geral entre campos */
.formio-form-group {
  @apply mb-6;
}

/* Label */
.col-form-label {
  @apply block mb-2 text-sm font-medium text-gray-700;
}

/* Inputs padrão */
input.form-control,
textarea.form-control {
  @apply w-full px-4 py-2 text-sm placeholder-gray-400 border border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
}

/* Container de select Choices.js */
.formio-choices .form-control.ui.dropdown {
  @apply w-full px-4 py-2 text-sm border border-gray-300 rounded-lg shadow-sm cursor-pointer focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
}

/* Placeholder de select */
.choices__item--placeholder {
  @apply text-sm text-gray-400;
}

/* Itens da dropdown do select */
.choices__item--choice {
  @apply px-4 py-2 text-sm cursor-pointer hover:bg-blue-50;
}

/* Botão de submit */
.btn-primary {
  @apply px-4 py-2 font-semibold text-white transition rounded-md bg-violet-600 hover:bg-violet-700 focus:ring-2 focus:ring-violet-500;
}

/* Erros */
.formio-errors {
  @apply mt-1 text-sm text-red-600;
}

/* Container do formulário */
.formio-form {

}

/* Alerta de erro geral */
.alert-danger {
  @apply px-4 py-3 text-sm text-red-800 border border-red-200 rounded-md bg-red-50;
}

/* Lista de erros no alerta */
.alert-danger ul {
  @apply pl-5 mt-2 list-disc;
}

.alert-danger li {
  @apply text-red-700;
}

/* Links dentro da lista de erros */
.alert-danger span[role="link"] {
  @apply underline cursor-pointer hover:text-red-600;
}

/* Inputs e selects com erro */
input[aria-invalid="true"],
.form-control[aria-invalid="true"],
.choices__input[aria-invalid="true"],
.textarea[aria-invalid="true"],
.choices__list--dropdown[aria-expanded="true"] {
  @apply border-red-500 ring-1 ring-red-300;
}

/* Mensagens de erro abaixo dos campos */
.formio-errors,
.invalid-feedback {
  @apply mt-1 text-sm text-red-600;
}

/* Botão com erro */
button.submit-fail {
  @apply font-semibold text-white bg-red-600 hover:bg-red-700;
}

/* Mensagem de erro abaixo do botão */
.has-error .help-block {
  @apply mt-4 text-sm text-red-600;
}

.has-error {
  @apply mt-4;
}

.pdf-preview-component {
  max-width: 290px !important;
}
.pdf-preview-canvas {
  max-width: 100%;
  height: auto;
}